@font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* attribution styling by frontendmentor */
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsla(234, 85%, 45%, 0.7)
  }

  .attribution a {
    color: hsla(234, 85%, 45%);
    font-weight: 700;
  }

  .attribution a:hover {
    text-decoration: underline;
  }
/* attribution styling by frontendmentor  */



body {
    font-family: 'HankenGrotesk', sans-serif;
}


/* Added a custom border radius for the project since the design border-radius required exceeded tailwindcss' built-in border radius options */

@media (min-width:1024px) {
    #wrapper {
        box-shadow: 12px 15px 45px hsla(241, 81%, 54%, 0.103);
    }
}